footer {
  background-color: var(--color-primary);
  padding: 2rem 0 6.5rem;
  text-align: center;
  margin-top: 8rem;
}
footer > * {
  margin-bottom: 2rem;
}
footer h2 {
  font-weight: 700;
}

.footer__nav a {
  color: var(--color-bg);
}

.footer__socials {
  gap: 1rem;
}
.footer__socials svg {
  color: var(--color-bg);
  font-size: 2rem;
}

.footer__nav,
.footer__socials {
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 860px) {
  footer {
    margin-top: -2rem;
  }
}
