nav {
  width: max-content;
  position: fixed;
  z-index: 9999;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);

  display: flex;
  gap: 0.8rem;
  padding: 0.7rem 1rem;
  border-radius: 5rem;
}

nav a {
  display: flex;
  padding: 0.9rem;
  font-size: 1.2rem;
  color: var(--color-light);
  border-radius: 50%;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

nav a.active {
  background-color: var(--color-primary);
  color: var(--color-bg);
}
